[2014-01-24 21:13] miohtama opened #4 "SublimeLinter: ERROR: exception in flake8.check: 'module' object has no attribute 'builtin_vars'"
I am just doing fresh Sublime Text 3 + SublimeLinter installation. I am getting the following:

[code]

Any idea what could cause this or how to start to diagnose the problem?

[2014-06-27 15:41] meshy opened #8 "Wrong word highlighted on F401"
![screenshot from 2014-06-27 16 39 48](https://cloud.githubusercontent.com/assets/767671/3414008/4f30dac4-fe11-11e3-8fef-2587d53f45b6.png)

![screenshot from 2014-06-27 16 40 15](https://cloud.githubusercontent.com/assets/767671/3414016/5cc74646-fe11-11e3-98b7-cacb9b36c15c.png)

![screenshot from 2014-06-27 16 40 31](https://cloud.githubusercontent.com/assets/767671/3414023/658b6186-fe11-11e3-97d0

[2014-10-28 12:18] CVirus opened #11 "SublimeLinter-flake8 doesn't support extra flake8 extensions"
I installed flake8 via pip + the following extensions:

`cvirus@leon:~$ flake8 --version
2.2.5 (pep8: 1.5.7, import-order: 0.5.1, pep257: 0.2.1, mccabe: 0.2.1, pyflakes: 0.8.1, naming: 0.2.2) CPython 2.7.6 on Linux`

Unfortunately, SublimeLinter-flake8 will only highlight the errors for pyflakes, pep8, and mccabe .. While the rest of the extensions have no effect, except for the "import-order" ext

[2014-12-29 22:08] lrowe opened #13 "setup.cfg flake8 settings ignored when using module instead of executable"
My project wide flake8 settings are defined in a setup.cfg:

[code]

This worked fine when I was using python2 flake8 (presumably as the executable was used), but now I've switched to a python3 flake8 these settings are being ignored:

[code]

I prefer using setup.cfg for settings as they will also apply for flake8 runs from the command line or travis.

[2015-01-26 16:05] jmagnusson opened #14 "Show error code in popup box"
Would make it much easier to know which codes to ignore. An example of the popup menu I'm talking about:
![screen shot 2015-01-26 at 17 04 35](https://cloud.githubusercontent.com/assets/190835/5902752/6f876d2e-a57d-11e4-96d3-656e77e68ca2.png)

I think https://github.com/dreadatour/Flake8Lint has this built in.

[2015-02-11 11:19] simonluijk opened #15 "Highlighting wrong occurrences of unused import"
I am not sure if this is a bug with sublimelinter-flake8 or flake8

![2015-02-11-121156_3840x1080_scrot](https://cloud.githubusercontent.com/assets/63589/6145950/a2686902-b1e7-11e4-9b70-f9b2c971b38b.png)

[2015-02-11 17:02] skj3gg commented on #15
Sounds extremely similar to SublimeLinter/SublimeLinter3#188 about SL-pyflakes (probably using an extremely similar regex). I'm currently looking if this can be refined more within SL3

[2015-02-11 17:08] simonluijk commented on #15
Yes, I think that is the same issue.

On 11 February 2015 at 18:02, Blake Grotewold <notifications@github.com>
wrote:

[2015-03-03 01:36] RoyEsh1 opened #16 "SublimeLinter: flake8 activated: [folder]. Yet, nothing"
Py2.7 / ST3 / SL / SL-flake8
Everything seems to be working fine, yet I get no input from flake8.
Toggle flake8 is enabled.

Trying to get my mind around it, but when there are no errors it's just mind blowing.

SublimeLinter: debug mode: off
SublimeLinter: WARNING: import of flake8.engine module in flake8 failed, linter will not work with python 3 code
SublimeLinter: flake8 activated: C:\Python27

[2015-03-11 14:23] FichteFoll commented on #14
:+1:

The old SL did this and it made finding the correct code to ignore a lot easier. It's also easier to find similar errors or warnings in the panel when you can just search for it by typing.

This should happen in both the popup and the statusbar text.

[2015-03-11 14:41] FichteFoll commented on #15
Also same as #8.

[2015-05-06 22:24] zhuzelong opened #18 "SL3-flake8 does work with pep8 1.6.2"
I updated pep8 to 1.6.2 via pip and then SL3 fails to lint.

The error message:

[code]

[2015-05-13 10:13] gtnx opened #19 "no such option --max-complexity"
I just installed the latest version this package and here's the error i have:

    flake8: error: no such option: --max-complexity

My env:
- python 2.7.3
- flake8 2.4.0
- pep8 1.5.7
- mccabe 0.3
- pyflakes 0.8.1

Is there any setting i can override?

[2015-05-13 10:36] MrTango opened #20 "flake8: noqa option disables all checks for the whole file"
This line should be ignored in checks, but this disable all checks for the whole file, which is wrong.
import pdb;pdb.set_trace()  # flake8: noqa

[2015-05-14 10:48] gtnx commented on #19
Not a problem of sublime-linter. It's a flake8 installation issue. See https://gitlab.com/pycqa/flake8/issues/57 for more info

[2015-05-14 10:48] #19 closed

[2015-05-27 16:01] thornomad opened #22 "Getting RunTime error on install"
I'm trying to install via Package Control; I first install SublimeLinter 3.  Then installed SublimeLinter-flake8.  I get this error in the console:

[code]

This is my first time using SublimeLint and am not sure what to do ... it doesn't appear to be working.  Have tried this on two different machines.  After this error I don't see `SublimeLinter-flake8` in my **Library/Application Support/Sublim

[2015-05-29 13:10] fnkr opened #23 "ignore "line too long""
I want to ignore "line too long" messages but for some reason it doenst work.
This is from my `SublimeLinter.sublime-settings`:
[code]

The error code `E501` is correct (I think) - if I enable debug mode and open the console:
[code]

[2015-05-29 13:13] fnkr commented on #23
I also tried setting `max-line-length` to some higher value but it seems like this is ignored too.

[2015-05-29 13:21] fnkr commented on #23
For some reason it does work now, after I restarted Sublime Text a few times and changed some completely independent options (e.g. gutter theme) - I cant explain what happend.

[2015-05-29 13:21] #23 closed

[2015-06-04 21:16] playpauseandstop commented on #20
To disable one line you should use,

[code]

syntax.

When flake8 sees `flake8: noqa` comment it disables all checks for whole file, this is [proper behavior](http://flake8.readthedocs.org/en/2.4.0/)

[2015-06-04 21:23] playpauseandstop commented on #18
This is not a `SublimeLinter-flake8` bug, this is desired behavior as `flake8>=2.4.0` uses `pep8<1.6` requirement. More about this decision,

* http://flake8.readthedocs.org/en/latest/changes.html
* https://gitlab.com/pycqa/flake8/issues/35
* https://gitlab.com/pycqa/flake8/issues/32

To fix this version conflict you need to:

* Downgrade `flake8` to 2.3.0
* Or downgrade `pep8` to 1.5.7

[2015-06-05 07:48] skj3gg commented on #22
Hey @thornomad,

Sorry you're having issues. First `SublimeLinter-flake8` should be found in **Library/Application Support/Sublime Text 3/Installed Packages**, so hopefully you find it in there...

Can you give me the version of SublimeText you are using and the full console output on a fresh start of SublimeText.

[2015-06-05 07:50] skj3gg commented on #16
Can you please turn debug mode to on? Maybe we are missing something that is happening behind the scenes.

[2015-06-05 08:01] MrTango commented on #20
i know, but if i do that, the check for the whole document is disabled and that is not what i want and i know from syntaxtic in vim ;)

[2015-06-05 08:05] MrTango commented on #20
Ah you mean only # noqa, but this does nothing i get still the E702 then, only # flake8: noqa, works but disables the complete check of the document which is wrong.

[2015-06-05 08:08] playpauseandstop commented on #20
Yeah, that other side of `pep8` as not every error ignored by `# noqa` comment.

See more in my request for ignoring `E731` error by `# noqa`, https://github.com/jcrocholl/pep8/issues/379

[2015-06-05 13:41] thornomad commented on #22
Thanks for getting back to me so quick!

To answer your questions:

* Yes, `SublimeLinter-flake8.sublime-package` is present in `~/Library/Application Support/Sublime Text\ 3/Installed Packages`

Second, the version reported is:

    startup, version: 3083 osx x64 channel: stable

You can see the whole console output here:  <http://pastebin.com/ZcrWdLBr>

But I noticed two things myself:

    relo

[2015-06-11 10:15] #18 closed

[2015-07-20 18:13] jmfederico opened #24 "~/.config/flake8 config file not working"
Hello!

Flake8 usually reads configuration options from ~/.config/flake8 but when used with SublimeLinter-flake8 it seems as if the file wasn't been loaded.

Is that expected? How can I get it to read the file?

Thanks

[2015-08-05 02:14] JokerQyou opened #25 "[Help/question] How to persist gutter or outlines?"
After a linting is done, the gutters and outlines are shown. But once I start typing again, all of them are gone, and I have to save to lint again. What I want is: when I start typing, only the gutter / outline of that specific line disappear, and others remain unchanged. If this cannot be achieved, then I want all the gutters / outlines to remain the same when I start typing.
Is that possible? Th

[2015-09-09 13:04] grotewold commented on #14
This has been merged in, sorry it took so long!

[2015-09-09 13:04] #14 closed

[2015-09-09 14:51] grotewold commented on #11
Fixed by #21

[2015-09-09 14:51] #11 closed

[2015-09-15 21:38] utkonos opened #27 "flake8 Version Conflict with pep8 1.6.2 (current version)"
Traceback (most recent call last):
  File "/Applications/Sublime Text.app/Contents/MacOS/sublime_plugin.py", line 158, in on_api_ready
    m.plugin_loaded()
  File "/Users/username/Library/Application Support/Sublime Text 3/Packages/SublimeLinter/sublimelinter.py", line 34, in plugin_loaded
    linter.initialize()
  File "linter in /Users/username/Library/Application Support/Sublime Text 3/Install

[2015-09-16 17:16] grotewold commented on #27
Does flake8, the command line tool, itself work with the new pep8 installed?

[2015-09-30 15:11] jeffrand commented on #24
+1

[2015-10-07 15:55] fabianbuechler commented on #27
Yes it does.

I've got the same problem with pyflakes at the moment, but also had it with pep8 at times:

[code]

I've got these versions of flake8, pyflakes, pep8, pep257 and mccabe installed:

* flake8: 2.4.1
* mccabe: 0.3.1
* pep257: 0.6.0
* pep8: 1.6.2
* pyflakes: 1.0.0

Works without any problems when calling `flake8` directly, but the linter plugin does not work, likely due to the `pkg_resou

[2015-10-14 00:55] ptim commented on #24
:+1:  I'd like this to work on a per project level, like .eslintrc, etc

[2015-10-27 20:45] snario opened #29 "Import of flake8.engine module in flake8 failed"
I followed the instructions in the README exactly and have ran into this issue after installing:

I have added the `@python` directive to my Sublime settings as well as the SublimeLinter settings.

[code]

[2015-10-27 20:46] snario commented on #22
+1

[2015-10-27 20:46] snario commented on #29
This is the same as #22

[2015-10-27 20:46] #29 closed

[2015-10-27 20:47] snario commented on #22
@thornomad any fix?

[2015-10-28 16:23] thornomad commented on #22
So for me I believe the problem had to do with my python pointing to python3 ... At least I think that's what it was. Sorry. Should have replied when I fixed it.

[2015-10-28 16:24] snario commented on #22
So 'which python' pointed to Python 3 or was there a setting within sublime? 

Sent from my iPhone

On Wed, Oct 28, 2015 at 12:23 PM, Damon Timm <notifications@github.com>
wrote:

[2015-10-28 17:11] thornomad commented on #22
Which Python ... It was a global issue not a sublime based one. I had
gotten screwy by installing multiple versions of Python ...

On Wed, Oct 28, 2015 at 9:24 AM Liam Horne <notifications@github.com> wrote:

[2015-11-19 09:18] JokerQyou opened #30 "No highlight on unused imports"
I know there are some opened issues about wrong highlight on unused imports, but I think this one is different.
If I have the import clause separated on multiple line, there will be a gutter showing a warning sign. But there will be no keyword highlighted, thus you cannot use `Ctrl + K, n` to jump to that warning.

The screenshot is as followed:
![image](https://cloud.githubusercontent.com/assets/

[2015-11-30 10:05] jmagnusson commented on #24
Not all projects use the same flake8 settings so this would be a good addition to the project.

[2015-12-16 18:42] diwu1989 opened #31 "Flake8 2.5.1 isnt working"
Have you seen this issue?
[code]

[2015-12-17 21:11] diwu1989 commented on #31
nvm, was a path configuration issue on my end

[2015-12-17 21:11] #31 closed

[2016-01-04 19:19] Ap0c commented on #27
I got around this problem by downgrading pep8 to version 1.5.7, as described in [this StackOverflow post](http://stackoverflow.com/questions/29340658/flake8-2-4-0-not-support-pep8-1-6-2-version/29340700#29340700).

It seems that flake8 has [blacklisted recent versions](https://github.com/PyCQA/pep8/issues/427) of pep8.

[2016-01-11 11:14] M4urice opened #32 "Misleading info about @python setting"
The README.md reads:

Why should I not use it within the linter's settings (works fine for me BTW)? And how would I set it at global level instead?

[2016-01-13 04:05] numberoverzero opened #33 "invalid syntax on async keyword"
When I flake8 the file from the command line everything passes, but I get invalid syntax from the plugin.

I'm using pyenv, but the shims seem to be loading correctly below, since it pulls the path from the global python version.

[code]

Output from editor open to file lint (conftest.py)

[code]

[2016-01-28 09:06] numberoverzero commented on #33
ping.

Any more information I can provide?  I removed all versions of flake8 from my virtualenvs and then installed it only in 3.5.0.  I can post `pip freeze` and the (largely unchanged) ST console output again if it would help.

[2016-01-28 16:30] groteworld commented on #33
Is `conftest.py:22:14` invalid py2.7 or py3.X?
what does the command `which flake8` return?

[2016-01-28 21:05] numberoverzero commented on #33
Thanks for taking a look!
Email reply failed for some reason.

---

`conftest.py` is only valid in py3.5+ since it uses the `async` keyword.  Code has moved around since the initial report but [here's a conftest file that exhibits the same failure](https://github.com/numberoverzero/bottom/blob/75385016f2a47b7805290dd76a5ec1c69fb8b321/tests/unit/conftest.py#L27).

Here's the smallest sample that sh

[2016-02-19 18:05] kevinastone opened #34 "SublimeLinter is calling Flake8 with the system python instead of the Virtualenv"
I install flake8 in a virtualenv using [pipsi](https://github.com/mitsuhiko/pipsi).  This sets up a bin directory in my path to call python scripts but keeping them isolated in virtualenvs.

It works fine when flake8 is run normally:
[code]

But SublimeLinter uses the system python (if another one isn't configured) rather than calling the entry point directly and thus doesn't register the appropri

[2016-02-22 22:21] sanyer opened #35 "show-code option is not working"
Setting `show-code` option doesn't work, breaking also the whole linting.
Here is the error from console:

SublimeLinter: flake8: vminfo_quick.py ['/usr/bin/python2.7', '/usr/local/bin/flake8', '--ignore=F403,E111,E113', '--max-line-length=100', '--jobs=1', '--max-complexity=-1', '--show-code=True', '-']
SublimeLinter: flake8 output:
Usage: flake8 [options] input ...

flake8: error: no such option

[2016-02-23 01:35] groteworld commented on #35
How are you adding the `show-code` option? User.sublime-setting? inline? So this issue is that it is trying to make it a CLI arg, which it isn't, it's a SublimeLinter arg.

[2016-03-04 21:22] isezen commented on #35
I confirm the error. When the SublimeLinter-flake8 installed, it automatically adds its settings to SublimeLinter.sublime-settings file as shown below. As seen, flake8 has a `show-code` option and pylint has `show-codes` option. When I add an extra **s** at the end of flake8 show-code option, it worked but still didn't show **Warning Codes** in the status bar.
[code]

[2016-03-15 18:22] ianlawson1234 opened #36 "Adding custom flake8 args in Python3"
Hey!

I've just bumped up to Python3 and have found that I can no longer pass extra args to flake8 via the SublimeLinter plugin.

I'm currently defining args in my SublimeLinter prefs as so:

[code]

Looking at the logs in debug mode - Python2 shows something like this:

`SublimeLinter: flake8: list_.py ['/python2.7/bin/python', '/python2.7/bin/flake8', '--radon-max-cc', '1', '--max-complexity=-1'

[2016-03-20 01:14] blackwind commented on #35
Confirmed here as well.

[2016-03-27 18:42] syslo commented on #24
+1

[2016-03-29 16:19] jmagnusson commented on #33
I'm having the exact same problem. Here's my bug report:

Looking in the Sublime console SublimeLinter-flake8 loads the latest version of the underlying `flake8` library (`2.5.4` at the time of writing). Passing the file to flake8 in the console does not produce any error/warning output and exists with code 0. I checked the code from within the python 3 interpreter as well like this, giving me no

[2016-03-30 20:59] Gr1N commented on #33
I have the same problem, and to my mind problem in outdated version of `pyflakes`, but when I install latest version of `pyflakes==1.1.0` I got version conflict: `pkg_resources.VersionConflict: (pyflakes 1.1.0 (/usr/local/lib/python3.5/site-packages), Requirement.parse('pyflakes<1.1,>=0.8.1'))`.

Any ideas?

[2016-04-01 14:39] sanyer commented on #35
SublimeLinter.sublime-settings:
[code]

Console output:
[code]

[2016-04-02 13:28] Gr1N commented on #33
So, bad news guys, I found why we got this error...

Problem in Sublime builtin Python version and how pep8 linter [works](https://github.com/PyCQA/pycodestyle/blob/master/pep8.py#L1526).
For example open your terminal with Python 3.5+ and run this code:
[code]
Looks good, very good, but let's try to run this code in Sublime console:
[code]
Ops....

Why? Because Sublime uses Python 3.3.3...
[code]

[2016-04-04 06:09] groteworld commented on #33
So after seeing the Core#1163 issue play out...

Option 1:
If this is something we MUST have, is to require that all python code be linted on save, load, or manual. This is because none of the linters, that I've seen, allow you to pass in a block of code. AFAIK they all require a file be passed in, and this is probably too much I/O for background. We were able to circumvent, by loading the linters

[2016-04-04 15:20] jmagnusson commented on #33
Please excuse my ignorance but aren't like all other linters already doing the linting through an external program already? If so, can't we use the same approach for Python code?
Say we specify an external path to python and then call flake8 through it like this:
[code]

[2016-04-04 15:47] groteworld commented on #33
So that's option 1. It uses SL's `tempfile_suffix` variable to save the contents to a temporary file and lints that with the executable. Using this variable though causes the linter to only work on loads and saves, to cut down on the amount of I/O happening on the disk.

To be honest I haven't looked into this more than opened the file and saw the issue in question. I'll try to give this some time

[2016-04-04 16:05] Gr1N commented on #33
I vote for the option #1, this solution should work and it is not depends on SL Python version.

[2016-04-05 06:44] jmagnusson commented on #33
Alright, understood. Sounds like option 1 is the way to go then.

[2016-04-13 19:13] romanlv commented on #22
The same problem on Linux Mint 17.3

[code]
`which python` references python 2.7, although python3 is installed as well
Sublime Text build `3103`

Installing individual `sublimelinter-pep8` and `sublimelinter-pyflake` works fine

[2016-04-21 19:13] fjsj commented on #24
+1

[2016-04-25 13:22] silviot commented on #34
I had the same symptom, not fully sure if it's the same problem: on my machine the default `python` binary is 2.7, and `flake8` was not working.

I overrode the default python just for sublime by adding an executable script in `/usr/local/bin/subl` with this content:
[code]

If you use this solution, you need to change `/opt/pyenv/35/bin` to a path where you have a working python 3 binary.
I'm pos

[2016-05-04 05:10] rattrayalex commented on #24
+1

[2016-05-10 20:18] kaste commented on #35
Should be fixed by #38.

[2016-05-10 20:18] kaste commented on #33
Should be fixed by #38.

[2016-05-10 20:18] kaste commented on #34
Should be fixed by #38.

[2016-05-10 21:24] kaste commented on #36
Fixed by #38

[2016-05-11 17:34] NetGeekFR opened #39 "Can't disable E501"
Hi, and thanks for reading.

So, I just upgraded to Sublime Text 3 and installed SublimeLinter via Package Control.

I just noticed that now, SublimeLinter takes into account E501, but that disturbs me and I would like to disable it (disable the warning).

I installed pip, pep8 and SublimeLinter-pep8 too

Here's my SublimeLinter.sublime-settings :

{
    "user": {
        "debug": false,
        "

[2016-05-12 12:47] kaste commented on #39
You're on the `SublimeLinter-flake8` repo not `pep8`

[2016-05-12 16:44] NetGeekFR commented on #39
Oh, sorry

[2016-05-12 16:44] #39 closed

[2016-06-12 06:53] #33 closed

[2016-06-12 06:53] #34 closed

[2016-06-12 06:53] #35 closed

[2016-06-12 06:53] #36 closed

[2016-06-14 17:46] spookey opened #40 "Plugin tries to run flake8 in python2 instead of python3"
I was a happy SublimeLinter-flake8 user, once..

Some days ago it stopped working (don't know when exactly), fiddling around I discovered that the plugin tries to launch ``flake8`` inside ``python2`` instead of ``python3``.

If I start up Sublime (with Sublimelinter ``"debug": true``) I have the following output in the console:

    startup, version: 3114 osx x64 channel: stable
    executable: /A

[2016-06-14 22:14] kaste commented on #40
Try the hotfix I described in #38

[2016-06-14 22:52] spookey commented on #40
Hey,
I just extracted the Package using ``PackageResourceViewer`` and patched the ``linter.py`` like [you suggested](https://github.com/SublimeLinter/SublimeLinter-flake8/pull/38#issuecomment-225540273).
It works now.

Please merge #38 as soon as possible 😄
Thanks for the hint.

[2016-06-15 15:16] #40 closed

[2016-06-15 16:11] spookey commented on #40
Just a little follow-up to #41

I just installed the latest version from PackageControl (and removed my patched version first) - it works again.
Now I'm a happy user again 😸

Thank you all!

[2016-07-02 21:00] sigmavirus24 commented on #20
flake8 3.0.0b2 (which will soon be finalized as 3.0.0) will allow you to do `# noqa: E702,E731`.

[2016-07-06 17:16] brianbruggeman opened #42 "Version conflict with flake8-3.0.0b1"
Versions..

OS:  OS X 10.10.5
Sublime Text: v3 build 3114
Sublimelinter Plugin: 3.7.4
Sublimelinter-flake8 Plugin: 2.0.1
system flake8: 3.0.0b1

Work-around: I dropped back to flake8 v2.4.1 and seems to be working just fine.

[2016-07-06 17:53] sigmavirus24 commented on #42
What was the conflict?

[2016-07-06 19:33] brianbruggeman commented on #42
I'm not sure;  I had no visuals and no errors thrown in my debug window.

[2016-08-10 13:58] lcb commented on #25
Well you can achieve this - kind of - by running linting in "background" mode. However there is a slight lag and it eats tons of CPU.

Also it  might not be as easy as it sounds. e.g. if you insert or remove a line the annotatins get into the wrong place (so maybe line changes should trigger a clear?).

Still I give
+1
in the hope somebody smart out there has a good idea how to make linting more r

[2016-08-23 06:48] ptim commented on #32
I'm searching for answers here, too... tried several things, will report back if I have any joy :/

[2016-08-23 07:02] ptim commented on #32
ugh, scratch that, note to self: just RTFM!

I've just started on projects with python3, and had not installed flake8 with pip3

thumbs down :)

[code]

[2016-08-26 14:22] sjahl opened #43 "Linter always uses /usr/local/bin/flake8"
Hi,

At some point in the recent past, sublimelinter started choosing /usr/local/bin/flake8 regardless of the `@python` version I have specified in my project settings. I think the linter used to use the python module (i.e. python -m flake8) with the correct python version.

While I have flake8 installed for both python2 and 3, /usr/local/bin/flake8 only works for the one I've most recently instal

[2016-10-17 20:23] sjahl commented on #43
I was able to resolve this by manually specifying the linter executable with the setting provided in https://github.com/SublimeLinter/SublimeLinter-flake8/pull/38, like so:

[code]

Which I can do on a per-project bases (and works well enough for me). I still believe that there's a bug here -- that we can't rely on the executable at /usr/local/bin/flake8 to actually correspond to the version of py

[2016-11-23 20:15] jondreads opened #48 "E999 Syntax error is reported as a warning"
From http://flake8.pycqa.org/en/latest/user/error-codes.html

[2016-11-25 11:36] ArjunHariharan opened #50 "Missing docstring in public module"
SubmlimeLinter-flake8 throws an error "missing docstring in public module" on all the files. I don't see this error when i run flake8 on the terminal.

`flake8 --version
3.2.1 (pyflakes: 1.3.0, flake8-docstrings: 1.0.2, pydocstyle: 1.1.1, mccabe: 0.5.2, pycodestyle: 2.2.0) CPython 2.7.9 on Darwin`

`pep8 --version
1.5.7
`

[2016-11-27 09:51] milieu commented on #50
+1

[2016-12-01 22:31] JonathanHolvey commented on #24
Weirdly, some settings in a per-directory config file do work. For example, the `ignore` setting in the following config will indeed suppress the selected errors, but other settings don't get picked up (or are overridden).

    [Flake8]
    ignore = E123, E124
    exclude = test.py
    max-line-length = 100

[2016-12-09 15:02] nfvs commented on #40
Not to resurrect an old thread, but #41 is the wrong fix for this.

SublimeLinter tries to use your system's python version, which in your case seems to be 2. If you want to use flake8 with a version that's not your system default, you need to either set the version to 3 in the global settings, or do that that in per-project basis with a `.sublimelinterrc` file, like this very project does:

https

[2017-01-09 09:27] driesdesmet opened #52 "linter ignores flake8 plugins"
I get a different output from running the flake8 command on the terminal compared to what sublimelinter tells me. For example:
[code]

I've tried to specifically include 'H' errors in the settings, but it still doesn't show up:
[code]
Is this plugin not expected to show warnings/errors displayed by flake8 plugins?

The plugins I'm using for flake8 are these:

[code]

The specific plugin that warns

[2017-02-01 16:38] ianfitzpatrick commented on #50
+1 I have this problem too.

[2017-03-09 12:21] jannschu commented on #52
Had the same problem. Used flake8 form virtualenv. Added setting
[code]

to solve the issue.

[2017-03-09 12:23] jannschu commented on #24
In my case I had the anaconda package installed, which uses its own linter. So I configured anaconda with
[code]
and now it is working.

[2017-04-10 13:38] Tagirijus commented on #50
+1 I also have this problem.

[2017-04-20 17:02] posita commented on #43
[code]

This work-around does not work for me. (See SublimeLinter/SublimeLinter3#573.)

Just curious, but does [`${project}` expansion](http://www.sublimelinter.com/en/latest/settings.html#setting-tokens) work for you? (Meaning, would it work if you were to place the virtual env inside your project directory and then reference `flake8` by, e.g., `${project}/.virtualenv/bin/flake8`?)

[2017-04-24 05:41] ptim commented on #43
@posita the `${project}` expansion does work for me from my project-settings, though my flake8 extensions are not picked up...

[code]

When SublimeLinter debug is true, I see on the console:

[code]

I want this file (and all migrations) to be ignored via flake8-putty settings (which is working from the command line using the same flake8 binary).

[2017-07-18 21:05] pykong opened #54 "SublimeLinter-flake8 not finding paths"
First of all thank you for SublimeLinter and thank you for extending it with Flake8, as it makes coding Python in Sublime so much more enjoyable!

I believe I have a problem with my paths settings of SublimeLinter-flake8.
This expresses itself in:
- Python 3.6 syntax (e.g. "f-strings") marked as erroneous
- imports from a module folder I have included in the PythonPath also being marked

Both subl

[2017-08-31 03:46] brianbruggeman commented on #43
Putting a comment in here so I can come back to the discussion later.

I very much would like to avoid using the `${project}` dir for my virtual environments.  That really goes against the ecosystem (i.e. WORKON folder / multiple projects).  Seems like there's definitely something missing, though.

[2017-09-12 14:26] brocoli opened #55 "Add setting to deactivate the inline error message popups."
Ever since a recent-ish update to SublimeLinter-flake8, there's an intrusive inline popup that shows up while I am typing. It's especially bad because it overrides SublimeText's auto-complete box. I can't find a way to deactivate it.

SublimeLinter already has an option to lint on save and to show a popup when a lint happens. Why is this functionality replicated in SublimeLinter-flake8?

[2017-09-12 16:33] groteworld commented on #55
To disable the inline popup, check the SublimeLinter User setting `"tooltips": false` and make sure it's set to `false`. If they are still appearing, let me know!

[2017-09-12 16:56] brocoli commented on #55
wow... I'm sorry, I can't believe I missed that setting ^^v

Since I've only had tooltips appear for flake8 errors, I assumed they were a SublimeLinter-flake8 thing when I couldn't find a way to turn them off. Thank you, everything is working fine now!

[2017-09-12 16:56] #55 closed

[2017-10-20 18:04] #48 closed

[2017-10-21 22:13] mandeep opened #56 "Recent update breaks the plugin"
The latest update breaks sublimelinter-flake8. To confirm the update is the problem I reverted back to the v2.1.0 where everything works fine.

[code]

Here's is the output from flake8
[code]

[2017-10-23 07:32] joeycarter commented on #56
I'm also seeing this behaviour. In my case I get,

[code]

My crude workaround is to replace,

[code]

with,

[code]

in `linter.py`. Then SublimeLinter-flake8 uses the correct version of Python (`python3` in my case, since I installed `flake8` with `pip3`).

[2017-10-23 13:29] mandeep commented on #56
Seems to be caused by #51

[2017-10-24 18:30] JaniKarh commented on #56
An example of this issue. I have Python 3.6 installed via Homebrew, and pip-installed flake8 on system level. Sublime major version is 3 and build is 3152.

[code]
Flake8 works perfectly fine from shell.

Trying to load SublimeLinter results, with debug on:
[code]
... and a couple of lines later:
[code]
 No matter the linter settings, everything seems to default to this `default python`in the end.

[2017-10-24 19:57] jaraco commented on #56
This issue affects me also.

I decided to use the [git clone technique](https://packagecontrol.io/docs/customizing_packages#Git-Hg_Clone) to install the old version.

1. Using Package Control, remove the SublimeLinter-flake8 package.
2. In the SublimeText app data directory ([look here](https://www.sublimetext.com/docs/3/revert.html)), in `Packages/`: `git clone https://github.com/SublimeLinter/Su

[2017-10-24 20:01] JaniKarh commented on #56
@jaraco I edited the package manually the way @joeycarter suggests above. Everything works again and I can continue my actual work.

With my understanding there might be something wrong with the way SublimeLinter resolves the @python executable path, regardless of the linter settings.

[2017-10-25 12:37] asfaltboy commented on #56
@JaniKarh thanks for the info! According to your comments, you have flake8 installed in your python3 env, which is *not your default python* (at least /usr/bin/python seems to be 2.7). Executing python uses the python executable only, not python2 or python3, so whatever version it is (normally a symlink), is the env that will be used.
Do you have a `/usr/local/bin/python`? If so, what does it poin

[2017-10-25 12:43] asfaltboy commented on #56
@mandeep thanks for the detailed report, can you also attach your sublimelinter `settings` and related `project-settings` or `.sublimelinterrc` contents? I would put my money that in your case, the environment in sublime differs from your command line. I used the following [when debugging the issue reproduced locally][1].

[code]

[1]: https://github.com/SublimeLinter/SublimeLinter-flake8/pull/51#

[2017-10-25 13:17] jaraco commented on #56
On my system, the default `python` is also `python2.7`, in which `flake8` is not installed. What's awkward is that with this latest patch, SublimeLinter.flake8 is expecting `flake8` to be installed in that default python installation. That seems to be a mistake, especially given that the shebang for `flake8` clearly points to another Python.

[code]

The mistake I think is that this plugin is requ

[2017-10-25 13:25] JaniKarh commented on #56
@asfaltboy you are correct, the default Python in `/usr/bin/python` is indeed 2.7, and is the macOS provided Python, which I do not use at all (per se).

And there is nothing in `/usr/local/bin/python`. Only python3 exists. You may have pointed me to right direction, I will try to symlink a bit later.

And last, but not least, thank you very much for your support!

[2017-10-25 13:33] asfaltboy commented on #56
@jaraco regarding the shebang, that's a very correct observation, however I don't believe SublimeLinter is "shebang aware"; that is, it does not parse the linter script to figure out the right python version. Maybe that would be a nice solution, at least for "POSIX systems".

As far as I know, the version of python used to run flake8 is used to "enforce" syntax for a given version. I.e if your cod

[2017-10-25 14:11] mandeep commented on #56
@asfaltboy

Here is the sublimelinter settings. I don't use a project file or sublimelinterrc.

[code]

[2017-10-25 14:29] asfaltboy commented on #56
Doesn't seem like you customized your settings, that's great. Since you don't specify any locations, SublimeLinter will rely on Sublime's environment when executing `flake8 --version`, with this particular env, it fails. Try my patch above to see exactly which variables are in sublime, and compare these to the ones set in your shell, the difference should be the cause of the error.

[2017-10-27 14:16] eblot commented on #56
Hi all,

Is there an **easy**, **simple** way to tell flake8 to revert back to use Python3. I do not mind if it is dirty, I do not really mind which solution is better or worse, I just like to get things to work as it used to be before Package Manager upgraded it, at least till someone comes with the right clean and lean solution.

Thanks in advance.

[2017-10-27 14:21] asfaltboy commented on #56
@eblot have you [configured your linter][1] and looking at the troubleshooting docs? It've mentioned the simplest workaround I know of multiple times in this doc.

[1]: https://github.com/SublimeLinter/SublimeLinter-flake8#linter-configuration

[2017-10-27 14:31] eblot commented on #56
@asfaltboy I have added

    "@python": 3,
    "paths": {
         "osx": ["/usr/local/opt/python3/bin/python3.5"],
    },

to my Preferences.sublime-settings file,

but /usr/local/bin/flake8 keeps being launched from Python 2.7.10 since the upgrade.

[2017-10-27 14:33] kaste commented on #56
Set **@python** to `/usr/local/opt/python3/bin/python` or whatever points to your good python?

[2017-10-27 14:40] joeycarter commented on #56
@eblot For a quick and dirty fix, see [my answer](https://github.com/SublimeLinter/SublimeLinter-flake8/issues/56#issuecomment-338571698) above.

First open `linter.py`:

    PackageResourceViewer: Open Resource > SublimeLinter-flake8 > linter.py

Next, replace,

[code]

with,

[code]

and that should do it.

[2017-10-27 14:44] eblot commented on #56
@joeycarter Thanks a lot, works like a charm. You save my day :-)

[2017-10-27 14:47] asfaltboy commented on #56
@eblot Glad you resolved your issue 😄  ! As to your settings, I believe it will also work if you change:

      "osx": ["/usr/local/opt/python3/bin/python3.5"],

to

      "osx": ["/usr/local/opt/python3/bin"],

[2017-10-29 17:05] kylebebak commented on #56
@groteworld
This is still broken after the update to SublimeLinter 3.10.3, which was [supposedly going to fix the issue](https://github.com/SublimeLinter/SublimeLinter3/issues/641).

I don't understand the issue, but I do know that @joeycarter 's fix of modifying `linter.py` worked. Perhaps you guys ought to release a version that uses `cmd = ('flake8', '*', '-')` instead of `cmd = ('flake8@python

[2017-10-29 21:49] kaste commented on #56
I have my PR #57 ready, which needs some testing folks.

[2017-10-30 12:17] kaste opened #58 "Better support for config files like `.flake8`"
`flake8` supports various config files out of the box, e.g. `.flake8`. But command line args have precedence over config file settings, and all settings within the SublimeLinter framework will end as command line args. This leads to a bad default UX bc this linter unfortunately applies some default settings on its own.

https://github.com/SublimeLinter/SublimeLinter-flake8/blob/adb4890d55acd0c5028

[2017-11-01 15:28] groteworld commented on #54
this was most likely due to SL-flake8 finding a 2.7 flake8 or running in the ST 3.3 binary. I would check now that this is not an issue, or that you can configure SL-flake8 with the `@python` config.

I'm going to close with the release of SL-flake8 v3.0.0, feel free to open if it's still not working

[2017-11-01 15:28] #54 closed

[2017-11-01 15:31] groteworld commented on #52
I would make sure that the flake8 SL's running is the same as the flake8 you are running. jannaschu's answer should fix this or there has been a new release of SL-flake8 that fixes much of those pathing errors. Feel free to open if you are still experiencing plugins not appearing. in ST when they are in the CLI

[2017-11-01 15:31] #52 closed

[2017-11-01 15:32] groteworld commented on #56
This has been closed in #57

[2017-11-01 15:32] #56 closed

[2017-11-01 15:35] groteworld commented on #50
This was most likely caused SL-flake8 using the wrong flake8, a new version of SL-flake8 has been released and if configured to the correct version of python you're running should clean up this. Feel free to open if this is not the case.

[2017-11-01 15:35] #50 closed

[2017-11-01 15:36] groteworld commented on #43
This type of issue seems to be fixed with SL-flake8 3.0.0. Open if i'm mistaken

[2017-11-01 15:36] #43 closed

[2017-11-01 15:39] groteworld commented on #42
Was this ever resolved? I'm not sure what would have changed this between versions, but maybe it was a pathing issue. I'm closing due to age and a full rewrite of plugin but please let me know if this is still occurring.

[2017-11-01 15:39] #42 closed

[2017-11-01 15:40] groteworld commented on #32
The `@python` setting should be working again, please let me know if this is still an issue.

[2017-11-01 15:40] #32 closed

[2017-11-01 15:41] #27 closed

[2017-11-01 15:44] groteworld commented on #24
with recent changes you should be able to use a `.flake8` file in the project.

[2017-11-01 15:44] #24 closed

[2017-11-01 15:47] groteworld commented on #22
looks like OP was fixed and pathing issues should be fixed now in v3.0.0

[2017-11-01 15:47] #22 closed

[2017-11-01 15:48] groteworld commented on #4
closing due to age and rewrite of SL-flake8

[2017-11-01 15:48] #4 closed

[2017-11-01 15:52] groteworld commented on #15
duplicate of https://github.com/SublimeLinter/SublimeLinter3/issues/188

[2017-11-01 15:52] #15 closed

[2017-11-01 15:53] groteworld commented on #8
This seems to be a bigger issue of SL so moving to https://github.com/SublimeLinter/SublimeLinter3/issues/188

[2017-11-01 15:53] #8 closed

[2017-11-01 15:54] #20 closed

[2017-11-01 15:56] groteworld commented on #13
Is this still the case, sorry this fell through the cracks, try flake8 3.0.0 and feel free to open if it's still a problem

[2017-11-01 15:56] #13 closed

[2017-11-01 15:56] groteworld commented on #16
closing due to inactivity

[2017-11-01 15:56] #16 closed

[2017-11-01 15:57] groteworld commented on #25
This is sadly way too big for flake8 to do. As lcb said, the best we can really do is the background mode.

[2017-11-01 15:57] #25 closed

[2017-11-01 16:05] groteworld commented on #30
Sorry it took so long to look over this one. Could you provide the output from flake8 cli on this kind of issue? it will help in determining where the fault is, though i have suspicion it IS related to https://github.com/SublimeLinter/SublimeLinter3/issues/188

[2017-11-01 16:21] brianbruggeman commented on #42
Sorry for not getting back.  I think it has been resolved.

[2017-11-02 01:17] JokerQyou commented on #30
It seems to have been fixed somehow, I think. Now for multi-line imports, the warning sign will show up on the first line, and all warnings about `unused import` will be shown if I move cursor to that line.

[2017-11-02 01:17] #30 closed

[2017-11-22 00:02] jhultgre opened #61 "console spam"
I'm seeing this a lot in sublime's console
[code]
Is there a way to get rid of this? I'm usually connected to Maya and have it's console report back to sublime's console and this is getting in my way.

[2017-11-23 09:42] kaste commented on #61
ACK, I did this. 😩

I used `persist.printf` everywhere instead of `persist.debug`

[2017-11-23 09:59] kaste commented on #61
PR https://github.com/SublimeLinter/SublimeLinter-flake8/pull/62

[2017-11-26 05:44] assumptionsoup opened #63 "No longer works with flake8 2.1"
Despite what the readme says, this package is broken on flake8 2.1:

[code]

Perhaps this flag only exists for the python3 version of flake8?

[2017-11-26 19:22] kaste commented on #63
Open settings and set jobs to the empty string. This should remove it from args. (Hopefully 😓)

Or update flake8 of course. Newer python2 versions have this as well. 😉

[2017-11-26 20:43] assumptionsoup commented on #63
Ah, that worked, thanks!  I hadn't realized that was controllable through the settings.

[2017-11-26 20:43] #63 closed

[2017-12-01 15:50] #61 closed

[2017-12-13 16:33] kaste opened #65 "Automatically ignore some whitespace errors"
For good reasons, settings like `max-line-length` and `max-complexity` should be not held within sublime settings, but in `.flake8` or another config file.

The exception here should be the typical whitespace warnings Sublime will autocorrect for us on save. These are:

W291 | trailing whitespace
-- | --

W293 | blank line contains whitespace
-- | --

W391 | blank line at end of file
-- | --

[2017-12-13 22:02] braver commented on #65
@kaste how do you feel about things like the inline settings? I've got an issue open for it at https://github.com/SublimeLinter/SublimeLinter3/issues/679 and I really really want to "won't fix" it. Especially for the python based linters which already have various ways to configure them. Do you think we can deprecate them in an elegant manner? I kinda can't imagine a lot of people use these settin

[2017-12-14 10:08] kaste commented on #65
Oh shit, these features can be disabled. Maybe we can copy-paste some code from say `Prettier` or so.

[2017-12-14 20:24] braver commented on #65
To integrate "fixer" features you mean?

[2017-12-14 20:31] kaste commented on #65
Yes, on the subject of this issue. Naively you would just add these 3 error codes. Are there more?

[2017-12-14 20:52] braver commented on #65
Well, I'm not 100% sure about the python ecosystem, but in JS/TS land there are lots of ways to run a fixer over the code. Ideally you want a setup where you suppress those errors in your editor if they're going to be fixed automatically anyway. With e.g. tslint the fixer is part of the linter and leans on the same configuration. That's kind of a good reason to suppress them in SL. What codes you'

[2017-12-22 01:51] gerardroche opened #70 "util.py is unloaded and reloaded at startup"
When ST "reloads" plugins at startup if a plugin is already loaded it will unload it then reload it. `linter.py` imports `util.py` so it gets loaded, when ST then tries to load util.py it sees that it's already loaded so it unloads it and then reloads. This is extra overhead and can cause side-effect hard-to-debug issues.

ST only autoloads modules in the root package so the fix is to move util.py

[2017-12-22 05:45] kaste commented on #70
Nope. 😉

This is a showcase implementation and will get merged back into SublimeLinter core. You can actually find a PR over there.

[2017-12-22 08:59] gerardroche commented on #70
Are all the linters being moved to the core?

[2017-12-22 10:50] kaste commented on #70
No, of course not.

Current implementation here introduced a new base python linter and its util.py. Both are PRed to go into core.

This was merely a deploy strategy, so we could test if the new linter is good enough.

[2017-12-29 18:10] #70 closed

[2017-12-29 18:11] gerardroche commented on #70
I was confused about this until it was merged upstream and now it all makes sense. Good work! :+1:

[2018-01-04 12:46] bizoo opened #72 "shebang of source is ignored"
Cannot configure the last version (for sublimelinter 3) to work with shebang.

I'm on Windows and before (with my [PR](https://github.com/SublimeLinter/SublimeLinter/pull/407)):
When my script start with `#!python3`, flake8 from python3 is used.
When no shebang or start with `#!python2`, flake8 from python2 is used.

It seems to me that shebang is now totally ignored, probably because the `@pyhon`

[2018-01-04 13:08] kaste commented on #72
Hi @bizoo.

Yes, you're right `shebang` is currently not implemented. (That has nothing to do with `@python` being dropped from `cmd`. It is just that the method `shebang_match` is not implemented anymore.)

See: https://github.com/SublimeLinter/SublimeLinter/blob/a4dee7de12e4f497c7df49ccf8803dfb1f3a8afd/lint/python_linter.py#L52

And then:

https://github.com/SublimeLinter/SublimeLinter/blob/a4de

[2018-01-04 13:44] bizoo commented on #72
Hi @kaste, thanks for your quick reply.

Well if shebang is not supported in SL4 anymore, I think we can close this issue.
No need to spend time on an almost obsolete code.

But I don't get the reason shebang was dropped from SL4.
I often work on projects containing both python2 and python3 code, and having the correct flake version used automatically was a big plus.

Is there a way in SL4 to swit

[2018-01-04 13:44] #72 closed

[2018-01-06 14:29] kkurian opened #73 "Broken link in README"
In the README, the `here` link in "You can read more about it here" is broken.

[2018-01-15 11:08] kaste commented on #73
Fixed. Thanks for reporting.

[2018-01-15 11:09] #73 closed

[2018-01-15 11:14] kaste commented on #65
This is not completely trivial. flake8 does not support including or excluding errors from the command line. From http://flake8.pycqa.org/en/latest/user/invocation.html we have

                        Provide extra config files to parse in addition to the
                        files found by Flake8 by default. These files are the
                        last ones read and so they take the highe

[2018-01-18 21:19] kaste opened #75 "Override possible user formatting"
If we pass `--format default` we will (hopefully) override any formatting a user may have set in its config file. We need the default style, otherwise our regex can't match.

[2018-01-18 21:46] braver commented on #75
Fixed in 4.0.0-rc.2

[2018-01-18 21:46] #75 closed

[2018-01-22 03:53] nearlyNonexistent opened #77 "D400 on shebang line"
Reports that the line should end with a period which would screw up the syntax of the shebang line. Probably not optimal advice.

[2018-01-22 03:53] nearlyNonexistent commented on #77
NVM, just checked closed issues.

[2018-01-22 03:53] #77 closed

[2018-02-06 16:39] jolth commented on #33
Hello, this happened to me with spacevim and only install flake8 into me virtuel enviroment for solve.

[2018-02-07 15:17] kaste commented on #33
You should set `executable: 'path/to/my/flake8'` in your settings. Your project settings are a good location for that.

[2018-02-13 20:49] cixtor opened #80 "AttributeError: 'module' object has no attribute 'find_python'"
[code]

[2018-02-13 20:49] cixtor opened #81 "AttributeError: 'Flake8' object has no attribute 'get_chdir'"
[code]

[2018-02-13 20:55] cixtor commented on #65
Maybe I am missing something here, but it seems that `--ignore=errors` solves this.

[code]

[2018-02-13 22:49] kaste commented on #81
You need to install the beta flake8 plugin for SL4 beta.

[2018-02-13 22:49] #81 closed

[2018-02-13 22:49] kaste commented on #80
You need to install the beta flake8 plugin for SL4 beta.

[2018-02-13 22:49] #80 closed

[2018-02-13 22:56] kaste commented on #65
`--ignore` overrules a flake8 conf file. What I mean is *include* e.g. something like `--add-ignore`

[2018-02-14 10:43] OdinTech3 opened #83 "flake8 config options don't get recognized in SublimeLinter v4.0.0-rc.9.9.9"
In the v4 of Sublime Linter, flake8's linter settings found in SublimeLinter.sublime-settings doesn't get recognized when linting my python files. so for example if i have this set of settings in  the SublimeLinter.sublime-settings file for my flake8 linter

[code]

The linter wont recognized it or respect it when i am in a python file, however if I configure it like so

[code]

It works and the l

[2018-02-14 12:09] kaste commented on #83
Yeah, @braver removed that yesterday.

[2018-02-14 12:09] #83 closed

[2018-02-14 12:14] braver commented on #83
👋

[2018-02-14 14:24] OdinTech3 commented on #83
Alright, is there a changelog one can be keeping tabs on for all the changes occuring to the plugin?

[2018-02-14 14:37] braver commented on #83
Not right now for the pre-releases, we'll do a "what's new" when we're ready to launch v4.

[2018-03-04 12:04] wdscxsj commented on #23
I bumped into the same issue today with SublimeLinter 4.0.2, and this seems to work fine:

[code]

[2018-03-04 13:02] kaste commented on #23
There is only so much you can do. I'll take documentation PR's as well. 😄

[2018-03-05 20:16] craigds opened #84 "flake8 `max-line-length` no longer works"
The `max-line-length` for flake8 seems to no longer work.

Here are my settings:
[code]
These were copied and populated from the commented-out sample config in the empty settings file when I upgraded to 4.0.0. So either the plugin is broken, or the config has changed and the sample config is wrong.

I'm fairly sure this was working before 4.0.0, with these settings:

[code]

[2018-03-05 21:07] kaste commented on #84
These settings have been removed (last week/two weeks ago?). You have to use args now.

[2018-03-05 22:57] craigds commented on #84
Should that be in some documentation somewhere? I was unable to find anything about it.

[2018-03-05 23:02] kaste commented on #84
Happy to take a PR for the README

[2018-03-06 11:16] ptim commented on #84
ah, thanks! this had me confused, too...

The following now works for me:
[code]

[2018-03-06 12:03] ptim opened #86 "FR: Please support .flake8 config files"
Hi... I know that this was changed recently, but I cant see exactly where (somewhere near [4.0.0-rc.3](https://github.com/SublimeLinter/SublimeLinter-flake8/commits/4.0.0-rc.3)?), and I don't understand why (I'm sure you had a good reason!)

The effect of this is that we now need to maintain two separate flake8 config files, one for me in sublime, and another for other contributors using other edi

[2018-03-06 13:57] kaste commented on #86
This repo itself uses a flake8 file for config, so I really don't know what you mean.

[2018-03-06 14:07] kaste commented on #84
Note that SublimeLinter has also an `excludes` setting which would be more efficient here to use. (Bc then we don't run the linter at all for such files.)

[2018-03-07 23:17] Mattiaslndstrm opened #87 "Linter crashed: Bad file descriptor"
Not really a problem since it restarted right after, but I thought you might want the traceback:

[code]

[2018-03-08 00:11] Mattiaslndstrm commented on #87
No worries! Not sure if this is any help, but it always seems to happen when I'm building some code.

[2018-03-08 11:38] okeeffe commented on #86
I can confirm that as of a recent update my project's `.flake8` file is being ignored also. It worked fine before. Have resorted to adjusting the package's settings manually for now.

[2018-03-08 11:42] kaste commented on #86
But why?

Enable SublimeLinter debug mode, look at the console output. Esp. look at the `cmd` SublimeLinter actually executes and the current working dir `cwd`.

[2018-03-15 17:16] jmagnusson commented on #80
@kaste Why is that? SublimeLinter-flake8 just stopped working a few days ago because of this error.

[2018-03-15 18:14] kaste commented on #80
Do you get same exact error? Do you have SL4?

[2018-03-16 01:51] boompig opened #88 "Read flake8 configuration from setup.cfg file"
When invoked from the command-line, flake8 will read setup.cfg for options. I notice that the flake8 SublimeLinter plugin does not do this.

[2018-03-16 12:57] kaste commented on #88
SublimeLinter itself uses `setup.cfg` https://github.com/SublimeLinter/SublimeLinter/blob/master/setup.cfg

So there must be something else going on. Enable debug mode for SublimeLinter, check the working dir `cwd`. Check your flake8 settings either globally or per project.

[2018-03-16 13:00] kaste commented on #86
@ptim @okeeffe not responding doesn't help anyone here.

[2018-03-17 08:22] shooftie commented on #86
For what it's worth, I had my .flake8 file in a folder that was not the top most folder in my project.

project
- repo
    - .flake8
    - ...
- .vagrantfile

I had the directory "project" added as a folder in my sublime-project with "repo" excluded such that I had quick access to my .vagrant file. I then added "repo" as a separate folder.

In this configuration sublime linter was not reading my .

[2018-03-26 13:40] ptim commented on #86
Very sorry all - missed the replies - I'll take a look at this ASAP

[2018-03-26 16:01] kaste commented on #86
You should try setting `"working_dir": "$file_path"` or something like that. (The default is `$folder`.)

[2018-03-26 16:03] shooftie commented on #86
@kaste do you mean in the sublime-linter prefs or in the project file?

[2018-03-27 11:14] shooftie commented on #86
@kaste I tried it in my sublime-linter settings and received:
[code]
I can confirm that the setting works when inside my project file e.g.
[code]

[2018-03-27 11:17] okeeffe commented on #86
Been on holidays, apologies! My problem was also that our `.flake8` is not in project root, like @shooftie! Cheers!

[2018-03-27 11:29] kaste commented on #86
Linter settings generally have the form

[code]

In project files they go under the key `SublimeLinter`.

[2018-03-27 12:19] ptboyer commented on #86
I upgraded my linter version and ran into this problem also.

Adding `"working_dir": "$file_path"` to the linter's settings fixed it for me! Thanks @kaste!

Would be great to either document the fix, or to allow the `.flake8` config file to be found in the non-root of the project. Cheers!

[2018-03-27 18:15] kaste commented on #86
I don't think that this is a good setting, especially not a good default.

We have to consider unsaved buffers as well. You could set working_dir to ${folder}/repo as well if that's your normal layout. Or instead of changing the working dir you could just point to a config file using args which supports the same variable substitutions. So it is not really clear what the default here should be.

[2018-04-29 08:30] sangmoon commented on #33
I had same issue, and solved it add ``paths`` into setting.
OS is ``osx``.
flake_env is just ``virtualenv`` which  flake8 is installed.
[code]

[2018-04-30 15:43] jaraco opened #91 "flake8(erred) on Python 3.7 due to warning?"
I have flake8 installed in Python 3.7.0b3. When I run Flake8 on a package with no lint, I see this output:

[code]

Even though the return value is 0.

The warning is ignorable and probably will be fixed by subsequent releases of flake8 and pycodestyle. In the meantime, I suspect it's what's causing the `flake8(erred)` indication in ST3.

![image](https://user-images.githubusercontent.com/308610/3

[2018-04-30 19:59] kaste commented on #91
You're using beta stuff, you're out. Lol.

On the pro: it should still work even though it says erred. It should still report and highlight the actual lint errors if any. And erred would indicate that there is some output additionally that you should read/react to.

Ah well. I don't know if FutureWarning is something we should expect and suppress. It would be easy to catch though. Is this somethin

[2018-04-30 20:30] jaraco commented on #91
I suspect flake8 will not and probably should not suppress the warnings, and now that I think about the interface that this plugin has with the linter, it probably would have to whitelist lines by pattern to ignore them. So probably the best thing to do is just wait for the new release of flake8 for those who wish to use Python 3.7.

[2018-04-30 20:30] #91 closed

[2018-05-02 13:00] amurabito commented on #23
it's worth noting that this did solution does not work on the latest sublime and packages, and the solution is now this:

// SublimeLinter Settings - User
{
    "lint_mode": "load_save",
    "linters": {
        "flake8": {
            "args": ["--ignore=E501,E127,E128,W191"],
        }
    }
}

as detailed in the thread here:

https://github.com/SublimeLinter/SublimeLinter/issues/1050

[2018-05-10 15:04] tomleo opened #92 "Project settings being ignored"
I have a project which is using python3.6 and mypy. My project file looks like this:

[code]

However when I navigate to a python file, I'm still getting flake8 errors.

I'm also seeing the following in the terminal

[code]

[2018-05-11 07:53] kaste commented on #92
Hi @tomleo!

Project specific settings have to be top-level, not under 'settings'.

Also

[code]

these settings are not read by SublimeLinter. So you still have to configure `mypy` if it is not globally installed.

[2018-05-11 07:54] kaste commented on #92
Basically would be

[code]

[2018-05-11 15:02] #92 closed

[2018-05-30 00:24] parejkoj opened #96 "New configuration documentation"
First off, thank you for providing this package: it's a lifesaver for python development.

I've had a lot of trouble porting my settings after the SublimeLinter4 upgrade, as did several of my colleagues.  After reading #84 I was able to figure it out, but it would be great if you could put an example configuration in the Readme, and possibly a note about the change in how the settings are handled

[2018-05-30 07:30] braver commented on #96
While we communicated a lot about the changes in SL4, what you’re dealing with are the (related) changes in flake8 specifically. And communication there could definitely have been better.

Essentially, this plugin no longer has settings of its own. Previously it provided aliases for command line arguments, now you simply set the args directly. All generic settings that are available to any linter

[2018-05-30 07:30] #96 closed

[2018-05-30 08:53] kaste commented on #96
I think a bit more README wouldn't be strictly overkill here. PR's welcome.

@parejkoj

[code]

From a user perspective (UX, ergonomics), such simple `args` can be given as a string. (So you basically copy/paste from your shell. E.g.

[code]

Giving that example, I think we can say we progressed bc you don't have to learn a new way to configure flake8 to work with SublimeLinter, instead you just c

[2018-05-30 10:06] braver commented on #96
Exactly.

PR’s for howto’s and tutorials are totally welcome by the way!

[2018-05-30 21:32] parejkoj commented on #96
I never used flake8 from the commandline with arguments, so I didn't know about those arguments. I always and only ran it from within SublimeText via SL3, or indirectly as part of our pytest suite that was configured by `setup.cfg`.

Should I make a PR with an update to the Readme?

[2018-06-11 06:50] sambarluc commented on #23
On: Sublime Text 3.1.1 Build 3176
       Sublime Linter 4.6.4
       Sublime Linter-flake8 4.1.0

This is still an issue, and using the "args" syntax does not cure it.

[2018-06-11 08:21] braver commented on #23
@sambarluc the args setting works so there must be something else going on in your setup/configuration. You need to tell us a lot more about what you're trying to do and what doesn't work. Perhaps this page helps: http://www.sublimelinter.com/en/stable/troubleshooting.html

[2018-06-11 11:01] sambarluc commented on #23
From the command line, everything works fine. `flake8` returns the right errors according to the options I set on the command line.

In st3, on the status bar, I correctly get the summary of the output from flake8.

Setting the debug mode to true, I see that the command used for flake8 is

[code]

which does miss the files I had set in `args`, and the errors I get in st3 reflect this.

[2018-06-11 11:09] braver commented on #23
What do your settings look like?

[2018-06-11 11:59] braver commented on #23
@kaste perhaps some help here? I tried setting `"args:": "--ignore=E303 --max-line-length=100"` but that doesn't do anything for me either.

[2018-06-11 12:03] kaste commented on #23
Well, it's args not args:

[2018-06-11 12:04] braver commented on #23
Hot damn, sometimes you just need a second pair of eyes. Or schema validation. Thanks!

[2018-06-11 12:38] sambarluc commented on #23
Good good, that was silly!
Thanks, you don't imagine how I stared at it... but shouldn't an error be raised somewhere?

[2018-06-11 12:43] braver commented on #23
@sambarluc we have a validation mechanism for most settings, but linter plugins can define any additional setting they want. So, for all SublimeLinter knows "args:" is a valid setting for SL-flake8. I can imagine mechanisms that would catch such errors, but the trade off would be a hit in flexibility and probably quite a few lines of code.

[2018-06-15 05:40] fgimian opened #97 "Inexistent files cause exceptions with this linter"
Hey there, thanks for all your work on this 😄

I notice a problem which can be reproduced as follows;

First, create a directory containing a Python script

[code]

Now modify the script in Sublime Text and exit without saving (hot exit).

And now:

[code]

And you see an exception:

[code]

Any help is greatly appreciated 😄
Fotis

[2018-06-15 08:08] kaste commented on #97
Hi 👋

Hm, what do you expect here we should do? If you open `subl` it reopens `test.py` as dirty. But e.g. you cannot save that file anymore.

Now, the problem here is that the folder is gone, so we don't have a working working dir anymore. Even if we check that, we would probably still show an error message.

[2018-06-15 09:24] fgimian commented on #97
Hey @kaste, thanks so much for the reply. 😄

Is it possible for the linter to still perform the linting on the buffer it has (similar to unsaved files) or optionally fail without showing the console?

The problem with the current approach is that it's disruptive in cases where for example, I have a directory mounted on my system which becomes unavailable when I'm disconnect from the network .etc.

[2018-06-16 00:19] fgimian commented on #97
You make a really good point @kaste.  If you can't think of a more elegant way than to show the console, then I guess we'll have to leave it be.  Feel free to close this issue unless you have any other ideas on how to deal with this.

The main thing I find distracting is the Console appearing when I'm resuming a session and don't have my server mounted.  Ideally something  more subtle would be ind

[2018-06-16 12:06] kaste commented on #97
Tracking in core https://github.com/SublimeLinter/SublimeLinter/issues/1454

[2018-06-16 12:06] #97 closed

[2018-07-10 15:14] vgoklani opened #98 "WARNING: cannot locate 'flake8'"
Hello - I periodically get this error: "WARNING: cannot locate 'flake8".

I'm using anaconda, where/how should I add this information? Which configuration file should this be placed in?

Thank you! 👍

[2018-07-14 02:14] pllim opened #99 "How to list all PEP 8 violations in a Python file?"
In Emacs, there is a way to open up another buffer window and see a full list of PEP 8 violations without having to scroll through and mouse over each one, which is useful in a long file. I am wondering if there is such a feature here, and if so, how to use it. Thank you!

[2018-07-16 16:22] pllim commented on #99
Just what I was looking for. Thank you!

[2018-07-16 16:22] #99 closed

[2018-09-02 08:43] braver commented on #86
Seems the settings work to deal with the cases we covered here. Perhaps SL could be smarter about config files that aren't in `${folder}`, so we might need to do something in core for that to happen. Or at least document how stuff works better.

[2018-09-02 08:43] #86 closed

[2018-09-02 08:44] #88 closed

[2018-09-02 08:45] braver commented on #88
@boompig if you still have issues with, check where your setup.cfg hangs out and perhaps change the [working_dir](http://www.sublimelinter.com/en/stable/linter_settings.html#working-dir) setting.

[2018-09-02 08:46] braver commented on #98
@vgoklani please re-open with some more [debug info](http://www.sublimelinter.com/en/stable/troubleshooting.html) if you want to debug this further.

[2018-09-02 08:46] #98 closed

[2018-09-24 08:40] #65 closed

[2018-09-24 08:44] kaste commented on #87
We catch and handle `Bad File Descriptor` errors in SL core land, probably since a few months now. So this should be fixed, I guess.

[2018-09-24 08:44] #87 closed

[2018-09-30 15:27] aphearin opened #102 "recent update triggers ImportError of configparser module"
A recent update of sublime seems to have caused a problem for my flake8 plugin configuration. I am not sure which update caused this behavior, but it must have been within the past few days. When viewing python modules with SublimeLinter turned on, I now get the following error message:

[code]

[2018-09-30 20:34] kaste commented on #102
The only thing we changed here afaik is that we now show such errors. Before we only logged them to the Sublime console.

So I think it didn't work before but you never noticed. 🤔

[2018-09-30 22:35] aphearin commented on #102
Ok, then maybe this is innocuous. Is it easy to change the display settings to hide this error message?

[2018-11-08 10:09] MartinThoma opened #103 "Does not work at all in Sublime 3.1.1"
I don't see any linting happening.

[2018-11-08 10:14] kaste commented on #103
Needs more information. I work with this plugin and python code daily.

[2018-11-08 14:51] MartinThoma commented on #103
The information I missed is that sublimelinter has to be installed

[2018-11-08 15:12] kaste commented on #103
Das passiert, wenn man's ganz eilig hat ;-)

[2018-11-08 15:12] #103 closed

[2018-11-28 16:56] FichteFoll opened #104 "F401 handling trips on star imports"
[code]

[code]

[2018-11-28 18:44] kaste commented on #104
re.escape for the win?

[2018-11-28 19:41] #104 closed

[2018-11-28 19:44] kaste commented on #102
Closing due to age

[2018-11-28 19:44] #102 closed

[2018-11-28 19:49] kaste commented on #104
🤞 and thanks for reporting. Now we know that nobody uses star imports anymore.

[2018-11-28 21:33] FichteFoll commented on #104
Yeah going through some old-ish codebase. I do actually use them occasionally, but only for modularized ST plugins and usually have a `noqa: F401` line behind those.

[2018-12-10 08:32] beeb opened #105 "No linting errors reported but there should be"
Ooops, using the wrong package, please ignore my issue. You can close this

[2018-12-10 09:21] #105 closed

[2019-01-20 21:36] diazgilberto commented on #23
It is interesting that `flake8 file.py --ignore=E501` ran in the terminal does work but not as a setting in...

[code]
I'm getting an error still...

![screen shot 2019-01-20 at 3 34 18 pm](https://user-images.githubusercontent.com/9165819/51445271-e0ad4700-1cc8-11e9-8f3d-b4fd4e04b8f8.png)

[2019-01-21 06:11] braver commented on #23
@diazgilberto  What if you make that a string, not an array?

[2019-01-21 13:36] diazgilberto commented on #23
<img width="719" alt="screen shot 2019-01-21 at 7 34 27 am" src="https://user-images.githubusercontent.com/9165819/51477812-32001980-1d4f-11e9-98bd-82da8f5f9e01.png">

![screen shot 2019-01-21 at 7 35 17 am](https://user-images.githubusercontent.com/9165819/51477821-36c4cd80-1d4f-11e9-8289-b97e80c2a58b.png)

[2019-01-21 18:31] braver commented on #23
Are you running pep8 alongside flake?

[2019-01-21 19:01] kaste commented on #23
🤔 	I don't recognize the status bar text.

[2019-02-22 14:08] TejasAvinashShetty opened #107 "Can't find this package in Package control"
SublimeLinter-flake8 can't be found when trying to install it from package control.

<img width="1440" alt="screen shot 2019-02-22 at 7 31 24 pm" src="https://user-images.githubusercontent.com/27445854/53247189-be985180-36d8-11e9-8185-cc4234509fd3.png">

[2019-02-22 14:46] kaste commented on #107
Make sure you don't have it already. Try 'Enable Package'.

[2019-03-07 18:26] talune commented on #107
I'm also unable to locate SublimeLinter-flake8 in package control.
I've confirmed that it is not already installed.

[2019-04-21 12:05] h-jia commented on #91
I figured this error by adding follow codes in SublimeLinter.sublime-settings --User
{
	"linters": {
	"flake8": {
	"@disable": false,
	"args": [],
	"builtins": "",
	"excludes": [],
	"executable": ["/Users/yourname/miniconda3/bin/python", "-m", "flake8"],
	"ignore": "E501",
	"jobs": "1",
	"max-complexity": -1,
	"max-line-length": null,
	"select": "",
	"show-code": false,
},
}
}

[2019-05-10 13:58] tomleo opened #108 ".flake8 in a subdirectory"
My `.flake8` configuration is in the following directory for a project:
`project/level_2/.flake8`

I'm wondering if `SublimeLinter-flake8` can pick-up `.flake8` files in sub-directories.

[2019-05-10 18:34] kaste commented on #108
Yes sure! Actually we don't do anything here, and rely on the lookup algo of flake8 itself.

Iirc flake8 looks for its config starting from the current working dir. The working dir is set to the 'open' folder in Sublime by default but you could change that in the settings. Ref http://www.sublimelinter.com/en/stable/linter_settings.html#working-dir

You could also use http://www.sublimelinter.com/e

[2019-05-13 15:28] tomleo commented on #108
@kaste So I've tried a few different flake8 configurations for a project I'm working on:

[code]

However it's show errors around `max-line-length` being greater than 79 characters

I can confirm that using flake8 from the command-line works as expected. When I reload sublime-linter I don't see any errors in the sublimetext console. So I'm not entirely shore what the next steps are here.

[2019-05-15 17:57] kaste commented on #108
Ah. In the project settings we have flat key-value pairs (similar to VSCode). Ref http://www.sublimelinter.com/en/stable/settings.html#project-settings

Something like:

[code]

You probably don't need to set both though.

[2019-05-20 17:43] tomleo commented on #108
That did the trick!

[2019-05-20 17:43] #108 closed

[2019-07-01 08:01] rainnnnny opened #110 "can get E,W type errors, but no F type errors"
does it mean pyflakes is not working?

sublimetext pkg is installed and flake8 is installed system globally
![image](https://user-images.githubusercontent.com/15228876/60419941-13188400-9c19-11e9-890f-9fb0669d1e11.png)
![image](https://user-images.githubusercontent.com/15228876/60420075-68549580-9c19-11e9-9c81-6a00e93a4f01.png)

[2019-07-01 08:34] kaste commented on #110
Which version of flake8 you're using here? It should print all installed plugins if you do a `flake8 -h` as the last output. E.g. on my computer

[code]

You can also check what you have installed using `pip list`.

[2019-07-02 09:42] rainnnnny commented on #110
thanks for reply!

![image](https://user-images.githubusercontent.com/15228876/60502414-5691f180-9cf0-11e9-970b-b3720e5e850c.png)
It's like this

[2019-07-02 09:50] kaste commented on #110
Well, that's what I have. Can you make a python file with a `F` error, and lint it on the command line. Then open the file in Sublime. You can turn on `debug` mode in the SublimeLinter settings as well which will print verbose logging to Sublime's console (`View > Show Console`).

[2019-07-03 06:03] rainnnnny commented on #110
strange.. I directly tried writing a test file in sublime, and it worked(above), but it does'nt work in my project file(below)
![image](https://user-images.githubusercontent.com/15228876/60566729-59492100-9d9a-11e9-86d6-dfb0e5a559f1.png)
![image](https://user-images.githubusercontent.com/15228876/60566817-a3ca9d80-9d9a-11e9-89e6-0def0ab2de39.png)

and console printed these when i change the projec

[2019-07-03 11:25] kaste commented on #110
You can see that file has a syntax error:

![image](https://user-images.githubusercontent.com/8558/60587793-9f4fb600-9d95-11e9-942e-4b68e894a119.png)

Often flake8 and other linters bail out on syntax errors and can't show other errors then.

Tip: If you see in the status bar that flake8 reported an error `ctrl+k, a` will show all errors in a panel, likewise `ctrl+k, n` will jump to the next error

[2019-07-04 02:57] rainnnnny commented on #110
Thanks so much... I'm sorry I barely used linter before so I didn't know the syntax error will cause bail-out... it's ok now

And thanks for the tip :)

[2019-07-04 02:57] #110 closed

[2019-07-04 09:53] kaste commented on #110
👌

[2019-07-23 18:15] braver commented on #107
must've been a fluke

[2019-07-23 18:15] #107 closed

[2019-08-11 16:58] EmilStenstrom opened #112 "Error: 'selector' is mandatory in 'cls.defaults'"
It seems linting with flake8 has stopped working for me. If I open up the console i see this error message:

[code]

I'm using Sublime Text 3.2.1

[2019-08-11 17:00] EmilStenstrom commented on #112
Here's a relevant change from sass-lint: https://github.com/skovhus/SublimeLinter-contrib-sass-lint/pull/32/files

[2019-08-11 17:08] kaste commented on #112
You're not on the latest version. Maybe you use a git checkout?

[2019-08-11 19:08] EmilStenstrom commented on #112
Hi, thanks for the quick reply (and for you maintaining this excellent library overall too!).

I were not on a git checkout, but I think you where right anyways. I removed the package using Package Control (removed 4.2.3) and installed it again, and now I'm getting a separate error (pyenv instead of virtualenv). I'll work in that one.

Thanks again!

[2019-08-11 19:08] #112 closed

[2019-09-10 12:21] willcroft opened #113 "Is --per-file-ignores supported for flake8 >= 3.7.0?"
I'm trying to use the `--per-file-ignores` argument introduced in flake8 3.7.0 through a `.flake8` config file.

The top-level folder open in Sublime Text is the project with a `.flake8` file at the root. I've confirmed that project-wide settings work as expected, such as:

[code]

But when it comes to setting per-file exclusions, the setting doesn't seem to propagate to the linter:

[code]

Looki

[2019-09-10 12:35] kaste commented on #113
Interesting new feature. You could try on the command line if using flake8 --stdin-display-name could work here.

[2019-09-10 14:01] willcroft commented on #113
Thanks for the quick confirmation!

To clarify, you'd like me to test the option in a shell, or in the Sublime console?

[2019-09-10 14:09] kaste commented on #113
Just in a shell. If it works there we can think about how we could make this work in SublimeLinter.

[2019-09-10 14:09] willcroft commented on #113
Yup, that seems to do the trick:

[code]

[2019-09-10 14:29] kaste commented on #113
Well, then you can just tell SublimeLinter to do the same using the `args` setting.

Ref http://www.sublimelinter.com/en/stable/linter_settings.html#args and http://www.sublimelinter.com/en/stable/settings.html#settings-expansion

[code]

🤞

`file_path` holds the absolute path to that file. Hope flake8 is okay with that.

[2019-09-10 14:34] willcroft commented on #113
Yup, just found the same thing for myself, thanks! A slight tweak as `${file_path}` seems to hold the directory only? So I added to my settings:

[code]

It provides a full file path, as I didn't see a Sublime variable for a project-relative path, though flake8 seems to be just fine with this. (And thanks for the `:stdin` trick, will add that too.)

[2019-09-10 16:00] kaste commented on #113
Sure file it is 🤦

[2019-09-10 16:17] willcroft commented on #113
Final working solution, for reference: `"args": ["--stdin-display-name", "${file:stdin}"]`. Thanks @kaste!

[2019-09-10 16:17] #113 closed

[2019-09-11 20:45] kaste commented on #113
I now see that we have something similar in the Readme. But we have a def better snippet now with the fallback.

The Readme reads a bit rough as well after the last contributions so I would appreciate a small review PR from a native writer. 😏

[2019-09-11 22:11] willcroft commented on #113
@kaste if you’d welcome the contribution, I’d be happy to take a look! Unless you already have someone on the team who would prefer to take this on?

[2019-10-07 21:20] justinkterry opened #115 "Package not showing in packaging control anymore"
Here's a video showing it not working: https://youtu.be/vLG75oXooFs

[2019-10-08 08:44] kaste commented on #115
That's usually a fluke. Look at Sublime's console if Package Control throws some errors. Also try 'Enable Package'.

[2020-12-08 15:12] christopherpickering commented on #23
This also seems to work -
[code]

[2021-05-21 16:27] #115 closed

[2021-06-01 14:59] siddhpant opened #117 "Shows E251 for function definitions having type annotations"
Basically what the title says - E251 shown with error symbols on the definition's line. I am on Sublime Text 4 and installed the package from Package Control.

For example:

![image](https://user-images.githubusercontent.com/25429745/120345357-08405f80-c318-11eb-9075-7ce8d6c98c78.png)

Running flake8 from command line shows no error. Here's the verbose output:

[code]

[2021-06-01 15:08] siddhpant commented on #117
I had updated from st3. I fixed this after refreshing my st4 install. It also fixed another problem with the tab key not indenting.

I don't know why this happened, it didn't happen earlier, hence keeping the issue open.

[2021-06-21 14:15] STRML commented on #88
For anyone picking this up in 2021:

If you want to pick up in-directory config like `.flake8` or `setup.cfg`, your `working_dir` for flake8 should be `$file_path`, not `${folder:$file_path}`, as this defaults to `$folder` first when in project mode, which is the project root.

[code]

[2021-07-06 14:36] tomleo opened #118 "Args seem to be getting ignored"
In my project file:

[code]

However all settings from that `.flake8` file seem to be getting ignored, mainly line-length options:

[code]

If I explicitly add the line-length argument, it still get's ignored

[code]

It seems as though flake8 is getting called without my wanted arguments. I can confirm that when executing commands from the command-line settings like a longer `max-line-length` are

[2021-07-06 14:59] tomleo commented on #118
:facepalm: I asked this same question 2 years ago... https://github.com/SublimeLinter/SublimeLinter-flake8/issues/108

The solution if anyone happens to read this:

[code]

[2021-07-06 14:59] #118 closed

[2021-07-10 05:57] iamkroot opened #119 "Extend "E501 line too long" match till end of line"
Currently, positions of lints with `E501` are handled by the `PythonLinter` base class. Since flake8 gives the column (like 80) as the hint, the base class extends the lint to the end of scope. This sometimes gives confusing results, like only outlining a single character (which would suggest that something is wrong with that char, rather than the line):
![Screenshot_20210710_112257](https://user-

[2021-07-10 08:53] kaste commented on #119
Totally reasonable.  Do you want to try a PR?

[2021-07-10 09:39] #119 closed

[2021-07-10 09:43] kaste commented on #117
It looks like it ran with an old flake8/python not supporting the annotations syntax.  We can't know as you did not post the actual output/errors from flake8.  (For example, the error messages from the SublimeLinter error panel; or the same in the tooltip/popups.)

Closing as you somehow solved it.

[2021-07-10 09:43] #117 closed

[2021-10-12 02:08] ataylor32 opened #121 "AttributeError: 'int' object has no attribute 'rstrip'"
Certain flake8 issues cause this to appear at the bottom of Sublime Text:

[code]

[2021-10-13 20:13] blalor commented on #121
I think that's this issue: https://github.com/PyCQA/flake8/issues/1372 (I'm having the same problem).

[2021-10-13 20:18] blalor commented on #121
I ended up having to reinstall flake8 via homebrew (`brew reinstall flake8`); for some reason homebrew thought 4.0.1 was installed, but 3.9.2 was _actually_ installed. 🤨

[2021-10-14 02:18] ataylor32 commented on #121
@blalor Yes, upgrading flake8 solved it. Thanks!

[2021-10-14 02:18] #121 closed

[2022-01-07 02:02] meyt opened #123 "SublimeText 4 Support"
I've installed this package through `git clone` and its working on SublimeText v4126.
But the package marked as only ST3 on PackageControl which prevents to install by PackageControl.

[2022-01-08 00:12] kaste commented on #123
That must have been a fluke; at least I can see it:

![image](https://user-images.githubusercontent.com/8558/148622587-25b93c9a-065a-4760-9e87-2b4debcfb580.png)

[2022-01-08 02:47] meyt commented on #123
@kaste I've checked again with clear ST setup and you're right its there. Thanks

[2022-01-08 02:47] #123 closed

[2022-02-04 14:12] ta946 opened #124 "only show warnings if no errors OR sublime_linter_goto_error ignores warnings if there are errors"
I want to easily focus on fixing any errors in my code by calling "sublime_linter_goto_error" and check if there are any errors.
But the navigation is just in chronological order rather than priority, so I would have to go through warnings to see if there are any errors.

Is there a command in flake8 or SublimeLinter to hide warnings if there are any errors so they are more obvious and easier to f

[2022-02-17 16:45] bempelise opened #125 "Using per-file-ignores argument in settings causes an error"
When `args` in the SublimeLinter settings are set as follows:
[code]

I get the following error in the console:

[code]
Seems that both F401 and E121 are not recognized as valid codes?

This used to work before updating to from Python 3.7 Python 3.10 not sure if that made any different though.

[2022-02-18 10:40] kaste commented on #125
[code]

(t.i. without the single quotes) works for me.

[2022-02-21 10:36] bempelise commented on #125
Hi, removing the `'` although removes the error in the console, also does not have the desired effect i.e. the linter is still warning for these errors.

[2022-02-22 12:27] kaste commented on #125
I already had `"args": ["--stdin-display-name", "${file:stdin}"]` set otherwise flake8 will not know which file it is linting.  With that it worked for me.

[2022-02-24 11:26] bempelise commented on #125
Thanks, it seems that this made it work as expected again.
Extra thanks for the useful link

[2022-02-24 11:26] #125 closed

[2022-08-09 08:12] edvard-munch opened #127 "TypeError: expected str, bytes or os.PathLike object, not TextIOWrapper. Why extra " -" is being added after `flake8 --format default`?"
Flake8 works great when using it manually in command line. Doesn't work in Sublime. It seems like this command is wrong   "cat src/app/conf/db.py | /home/edvard_munch/programming/python/education-backend-master/venv/bin/flake8 --format default  -"

Ubuntu 22.04
Sublime Text Build 4126
Python 3.10.4
Venv

Console output:

[code]

Settings:

[code]
I've noticed the line `cmd = ('flake8', '--format',

[2022-08-09 09:40] edvard-munch commented on #127
@kaste (https://github.com/kaste)There is A LOT of flake8 plugins involved. I've just installed all of the requirements from this project - https://github.com/tough-dev-school/education-backend/blob/master/dev-requirements.txt

I'll try to delete the flake8 mock. Not sure if this is a right decision in the long term. If this plugin is in project's requirements it probably should be used.

[2022-08-09 09:49] edvard-munch commented on #127
With flake8 mock uninstalled the error is now in flake8 pytest

[code]

[2022-08-09 12:28] kaste commented on #127
Very unfortunate.  These plugins and dependencies are pretty outdated as it seems.  They don't support stdin input which is a normal feature of flake8 we require here as otherwise we can't run while you're typing in the editor.  Actually your teachers should update the educational project; they pin flake8 to 3.x although we're on 5.x already and imo all plugins to flake8 should be selected so they

[2022-08-09 12:30] kaste commented on #127
TLDR;  *we* require from flake8 more feature than we need as a bare minimum.  *they* ("you" or your teachers) pin to flake8 plugins not fully supporting the flake8 standard feature set.

[2022-08-09 13:06] edvard-munch commented on #127
@kaste oh, thanks. It's not really an educational project. Name is kinda misleading. It's a project for an educational web-site where you can buy courses etc.

It's started working perfectly, when I deleted flake8-pytest